<div class="buttons">
  <button pButton (click)="cancel()" label="Cancel" [disabled]="!cancelVisible"></button>
  <button pButton (click)="save()" label="Save" [disabled]="!saveVisible"></button>
</div>

<div class="title">Topics</div>
<app-group-topics [topics]="topics" (topicsChange)="topicsChange($event)"></app-group-topics>

<div class="title">Details</div>
Start date:
<p-calendar [ngModel]="startDate" (ngModelChange)="startDateChange($event)" dateFormat="{{i18next.t('common.date_format')}}"></p-calendar>
End date:
<p-calendar [ngModel]="endDate" (ngModelChange)="endDateChange($event)" dateFormat="{{i18next.t('common.date_format')}}"></p-calendar>