<span *ngIf="!viewedit && !viewmove" (click)="onClick()" class="menuentry" [ngClass]="{selected: selected}">{{menu.pme_name}}</span>
<form *ngIf="viewedit" class="form-inline personmenurename" (ngSubmit)="doRename()" #userForm="ngForm">
  <div class="input-group input-group-sm">
    <input #inputname type="text" class="form-control personmenurename" [(ngModel)]="menu.pme_name" ngControl required>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="btn btn-default" (click)="onCancelRename()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</form>

<form *ngIf="viewmove" class="form-inline personmenumove" (ngSubmit)="doMove()" #userFormMove="ngForm">
  <div class="input-group input-group-sm">
    <select #selectmenu [(ngModel)]="beforePos" ngControl required class="form-control personmenumove">
      <option *ngFor="#c of movechoices | pmemove:menu" [value]="c.pme_order">{{c.pme_name}}</option>
    </select>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" [disabled]="!userFormMove.valid"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="btn btn-default" (click)="onCancelMove()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</form>

<span *ngIf="viewcfg">
  <button type="button" class="btn btn-link btn-xs personmenuview" 
	  (click)="doViewtools(true)" 
	  [footertip]="i18n.t('portal.tip.configure')">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
</span>
<span *ngIf="viewtools">
  <button type="button" class="btn btn-link btn-xs personmenucancel" 
	  (click)="doViewtools(false)"
	  [footertip]="i18n.t('portal.tip.cancel')">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <span class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default personmenumove" 
	    (click)="onMove()"
	    [footertip]="i18n.t('portal.tip.move')">
      <span class="glyphicon glyphicon-sort"></span>
    </button>
    <button type="button" class="btn btn-default personmenurename"
	    (click)="onRename()"
	    [footertip]="i18n.t('portal.tip.rename')">	     
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" class="btn btn-default personmenudelete"
	    (click)="onDelete()"
	    [footertip]="i18n.t('portal.tip.delete')">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </span>
</span>
