<div class="section_ops">
  <span [hidden]="viewedit || viewmove">
   <span class="btn-group btn-group-sm">
    <button (click)="onMoveSection()" 
	    type="button" class="btn btn-default"
	    [footertip]="i18n.t('portal.tip.move_section')">
      <span class="glyphicon glyphicon-sort"></span>
    </button>
    <button (click)="onRenameSection()" 
	    type="button" class="btn btn-default"
	    [footertip]="i18n.t('portal.tip.rename_section')">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button (click)="onDeleteSection()" 
	    type="button" class="btn btn-default"
	    [footertip]="i18n.t('portal.tip.delete_section')">	    
      <span class="glyphicon glyphicon-minus"></span>
    </button>
   </span>
  </span>

  <form [hidden]="!viewedit" class="form-inline" (ngSubmit)="doRename()" #userForm="ngForm">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" [(ngModel)]="newName" ngControl required [focus]="sectionnameFocused" >
      <div class="input-group-btn">
	<button type="submit" class="btn btn-primary" [disabled]="!userForm.valid"><span class="glyphicon glyphicon-ok"></span></button>
	<button type="button" class="btn btn-default" (click)="onCancelRename()"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </form>

  <form [hidden]="!viewmove" class="form-inline" (ngSubmit)="doMove()" #userFormMove="ngForm">
    <div class="input-group input-group-sm">
      <select [(ngModel)]="beforePos" ngControl required [focus]="moveFocused" class="form-control">
	<option *ngFor="#c of movechoices | msemove:section" [value]="c.mse_order">{{c.mse_name}}</option>
      </select>
      <div class="input-group-btn">
	<button type="submit" class="btn btn-primary" [disabled]="!userFormMove.valid"><span class="glyphicon glyphicon-ok"></span></button>
	<button type="button" class="btn btn-default" (click)="onCancelMove()"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </form>

</div>
<ul>
  <li *ngFor="#menu of mainmenus"><mainmenu [menu]="menu" (onchange)="onMenuChange()"></mainmenu></li>
</ul>
<mainmenu-add [mseId]="section.mse_id" (onadded)="onMenuAdded()"></mainmenu-add>
