ul { padding: 0; display: flex; flex-wrap: wrap; list-style-type: none; }
li { 
  width: 64px; height: 80px; font-size: 10px; text-align: center; cursor: pointer; 
  padding: 8px; border-radius: 8px; 
}
li > div { height: 30px; }
li:hover { background-color: #eee; }