<div id="layout-topbar">
  <div id="logo"><img src="assets/V.png"> <span i18n="organ.organ_builder"></span></div>
  <app-organization-select (onselected)="onOrganizationSelected($event)"></app-organization-select>
  <div class="flexgrow"></div>
  <ul id="topmenu">
    <li><a><span i18n="auth.logged_in_as"></span> {{getUser()}}</a></li>
    <li><a href="javascript:void(0)" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
  </ul>
</div>



<main class="organization-main">
  <app-organization-main #organizationmain></app-organization-main>
</main>

<div class="alerts">
  <alerts #alerts></alerts>
</div>

<footer class="footer">
  <p class="tiptext">
    <footertip></footertip>
  </p>
</footer>