<div id="layout-topbar">
  <div id="menubutton" (click)="menuToggle()"><i class="fa fa-bars"></i></div>
  <div id="logo"><img src="assets/V.png"></div>
  <div class="titles">
    <div class="title">{{title}}</div>
    <div class="subtitle">{{subtitle}}</div>
  </div>
  <div class="flexgrow"></div>
  <ul id="topmenu">
    <li><a [routerLink]="['/home/system']"><span class="title">System</span></a></li>
    <li><a [routerLink]="['/home/organization']"><span class="title">Organization</span></a></li>
    <li><a [routerLink]="['/home/portals']"><span class="title">Portals</span></a></li>
    <li><a href="javascript:void(0)" (click)="logout()"><span class="fa fa-sign-out"></span></a></li>
  </ul>
</div>

<router-outlet></router-outlet>

<div class="alerts">
  <alerts #alerts></alerts>
</div>

<footer class="footer">
  <p class="tiptext">
    <footertip></footertip>
  </p>
</footer>

<app-dlg-inputtext #dlginputtext (ok)="onDlgInputOk($event)" (cancel)="onDlgInputCancel()"></app-dlg-inputtext>