<div id="layout-topbar">
  <div id="menubutton" (click)="start.toggle()"><i class="fa fa-bars"></i></div>
  <div id="logo"><img src="assets/V.png"> <span i18n="organ.organ_builder"></span></div>
  <div class="flexgrow"></div>
  <ul id="topmenu">
    <li><a href="javascript:void(0)" (click)="logout()"><span class="fa fa-sign-out"></span></a></li>
  </ul>
</div>


<md-sidenav-layout id="wrapper" class="demo-sidenav-layout">
  <md-sidenav id="nav-drawer" #start mode="over" opened="true">
    <div class="nav-drawer-header">
      <div class="title">{{getUser()}}</div>
      <div class="subtitle">{{selectedOrg?.label}}</div>
    </div>
    <app-organization-select (onselected)="onOrganizationSelected($event); start.close();"></app-organization-select>
  </md-sidenav>

  <main class="organization-main">
    <app-organization-main #organizationmain></app-organization-main>
  </main>
</md-sidenav-layout>




<div class="alerts">
  <alerts #alerts></alerts>
</div>

<footer class="footer">
  <p class="tiptext">
    <footertip></footertip>
  </p>
</footer>