<div class="section_ops">
  <span *ngIf="!viewedit && !viewmove">
    <span class="btn-group btn-group-sm">
      <button (click)="onMoveSection()" 
	      type="button" class="btn btn-default personsectionmove"
	      footertip="portal.tip.move_section">
	<span class="glyphicon glyphicon-sort"></span>
      </button>
      <button (click)="onRenameSection()" 
	      type="button" class="btn btn-default personsectionrename"
	      footertip="portal.tip.rename_section">
	<span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button (click)="onDeleteSection()" 
	      type="button" class="btn btn-default personsectiondelete"
	      footertip="portal.tip.delete_section">
	<span class="glyphicon glyphicon-minus"></span>
      </button>
    </span>
  </span>
  
  <form *ngIf="viewedit" class="form-inline personsectionrename" (ngSubmit)="doRename()" #userForm="ngForm">
    <div class="input-group input-group-sm">
      <input #inputname type="text" class="form-control personsectionrename" [(ngModel)]="newName" ngControl required>
      <div class="input-group-btn">
	<button type="submit" class="btn btn-primary" [disabled]="!userForm.valid"><span class="glyphicon glyphicon-ok"></span></button>
	<button type="button" class="btn btn-default" (click)="onCancelRename()"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </form>

  <form *ngIf="viewmove" class="form-inline personsectionmove" (ngSubmit)="doMove()" #userFormMove="ngForm">
    <div class="input-group input-group-sm">
      <select #selectsection [(ngModel)]="beforePos" ngControl required class="form-control personsectionmove">
	<option *ngFor="#c of movechoices | psemove:section" [value]="c.pse_order">{{c.pse_name}}</option>
      </select>
      <div class="input-group-btn">
	<button type="submit" class="btn btn-primary" [disabled]="!userFormMove.valid"><span class="glyphicon glyphicon-ok"></span></button>
	<button type="button" class="btn btn-default" (click)="onCancelMove()"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </form>

</div>
<ul>
  <li *ngFor="#menu of personmenus"><personmenu [entity]="entity" [menu]="menu" (onchange)="onMenuChange()"></personmenu></li>
</ul>
<personmenu-add [entity]="entity" [pse_id]="section.pse_id" (onadded)="onMenuAdded()"></personmenu-add>
