<div [hidden]="!myMme">
  <form class="mainview" [hidden]="!editing" (submit)="save()" #mainviewForm="ngForm" style="margin: 0">
    <div class="wrapper">
      <section>
        <div class="form-group">
          <input type="text" placeholder="{{i18n.t('common.required')}}{{i18n.t('portal.placeholder.view_title')}}" class="form-control mainviewtitle"
          [(ngModel)]="title" ngControl="c1" required>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="mveType">{{i18n.t('common.required')}}{{i18n.t('portal.mainview.main_view_type')}}</label>
              <select class="form-control" (ngModelChange)="onTypeChange($event)" [ngModel]="mveType" ngControl="c2" required>
                <option value="">{{i18n.t('portal.mainview._select_a_type_')}}</option>
                <option *ngFor="#pvtype of mainviewTypes" [value]="pvtype">{{i18n.t('portal.mainview_types.'+pvtype)}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="mveId">{{i18n.t('common.required')}}{{i18n.t('portal.mainview.main_view_in_type')}}</label>
              <select class="form-control" [(ngModel)]="mveId" ngControl="c3" required>
                <option value="">{{i18n.t('portal.mainview._select_a_view_')}}</option>
                <option *ngFor="#viewInType of mainviewsInType" [value]="viewInType.mve_id">{{viewInType.mve_name}}</option>
              </select>
            </div>
          </div>
        </div>
      
        <div class="form-group">
          <label for="pmeAssociated">{{i18n.t('portal.mainview.associated_patient_view')}}</label>
          <select class="form-control" [(ngModel)]="pmeAssociated">
            <option value="0">{{i18n.t('portal.mainview._no_associated_patient_view_')}}</option>
            <optgroup *ngFor="#type of patientViews" [label]="type.type">
              <option *ngFor="#view of type.data" [value]="view.pme_id">{{view.pme_name}}{{i18n.t('common.doubledot')}}{{view.pvi_title}}</option>
            </optgroup>
          </select>
        </div>
      </section>
      <nav>
        <span [hidden]="!mainview"><button type="button" class="btn btn-default" (click)="setEditable(false)">{{i18n.t('common.btn.cancel')}}</button></span>
        <button type="submit" class="btn btn-primary" [disabled]="!mainviewForm.valid">{{i18n.t('common.btn.save')}}</button>
      </nav>
    </div>
  </form>
  <div [hidden]="editing">
    <div class="wrapper">
      <section>
        <h1>{{mainview?.mvi_title}}</h1>
        {{i18n.t('portal.mainview.main_view_element')}}{{i18n.t('common.doubledot')}} {{mainview?.mve_name}} ({{i18n.t('portal.mainview_types.'+mainview?.mve_type)}})

        <p [hidden]="!mainview?.pme_id_associated">{{i18n.t('portal.mainview.associated_patient_view')}}{{i18n.t('common.doubledot')}}{{personviewAssociated?.pvi_title}}</p>
        <p [hidden]="mainview?.pme_id_associated">{{i18n.t('portal.mainview.no_associated_patient_view')}}</p>

      </section>
      <nav>
        <button type="button" class="btn btn-default mainviewdelete" (click)="delete()">{{i18n.t('common.btn.delete')}}</button>
        <button type="button" class="btn btn-primary mainviewedit" (click)="setEditable(true)">{{i18n.t('common.btn.edit')}}</button>
      </nav>
    </div>
  </div>
</div>