<div [hidden]="!myMme">
  <form [hidden]="!editing" (submit)="save()" #mainviewForm="ngForm" style="margin: 0">
    <div class="wrapper">
      <section>
        <div class="form-group">
          <input type="text" placeholder="{{i18n.t('portal.placeholder.view_title')}}" class="form-control" [(ngModel)]="title" ngControl
          required>
        </div>
        <div class="form-group">
          <label for="pmeAssociated">{{i18n.t('portal.mainview.associated_patient_view')}}</label>
          <select class="form-control" [(ngModel)]="pmeAssociated">
            <option value="0">{{i18n.t('portal.mainview._no_associated_patient_view_')}}</option>
            <optgroup *ngFor="#type of patientViews" [label]="type.type">
              <option *ngFor="#view of type.data" [value]="view.pme_id">{{view.pme_name}}{{i18n.t('common.doubledot')}}{{view.pvi_title}}</option>
            </optgroup>
          </select>
        </div>
      </section>
      <nav>
        <button type="button" class="btn btn-default" (click)="setEditable(false)">{{i18n.t('common.btn.cancel')}}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!mainviewForm.valid">{{i18n.t('common.btn.save')}}</button>
      </nav>
    </div>
  </form>
  <div [hidden]="editing">
    <div class="wrapper">
      <section>
        <h1>{{mainview?.mvi_title}}</h1>
        <p [hidden]="!mainview?.pme_id_associated">{{i18n.t('portal.mainview.associated_patient_view')}}{{i18n.t('common.doubledot')}}{{personviewAssociated?.pvi_title}}</p>
        <p [hidden]="mainview?.pme_id_associated">{{i18n.t('portal.mainview.no_associated_patient_view')}}</p>
      </section>
      <nav>
        <button type="button" class="btn btn-default" (click)="delete()">{{i18n.t('common.btn.delete')}}</button>
        <button type="button" class="btn btn-primary" (click)="setEditable(true)">{{i18n.t('common.btn.edit')}}</button>
      </nav>
    </div>
  </div>
</div>