<span *ngIf="!gettingName">
  <div class="btn-group" dropdown style="padding-top: 8px;">
    <button id="select-institution" type="button" class="btn btn-default" dropdownToggle>
      {{selectedInstitutionName}}  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="select-institution">
      <li *ngFor="#institution of institutions" role="menuitem">
	<a class="dropdown-item" (click)="onInstitutionSelected(institution)">{{institution.org_name}}</a>
      </li>
      <li class="divider"></li>
      <li role="menuitem">
	<a class="dropdown-item" (click)="onAddInstitution()" class="institutionadd">
	  <span class="glyphicon glyphicon-plus"></span>&nbsp;<span i18n="institution.add_new_institution"></span>
	</a>
      </li>
      <li *ngIf="selectedInstitution!=null" role="menuitem">
	<a class="dropdown-item" (click)="onRenameInstitution()" class="institutionrename">
	  <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span i18n="institution.rename_current_institution"></span>
	</a>
      </li>
      <li *ngIf="selectedInstitution!=null" role="menuitem">
	<a class="dropdown-item" (click)="onDeleteInstitution()" class="institutiondelete">
	  <span class="glyphicon glyphicon-minus"></span>&nbsp;<span i18n="institution.delete_current_institution"></span>
	</a>
      </li>
      <li *ngIf="selectedInstitution!=null" role="menuitem">
	<a class="dropdown-item" (click)="onCopyInstitution()">
	  <span class="glyphicon glyphicon-copy"></span>&nbsp;<span i18n="institution.copy_current_institution"></span>
	</a>
      </li>
    </ul>
  </div>
</span>
<span *ngIf="gettingName">
  <div class="btn-group" style="padding-top: 8px;">
    <form (ngSubmit)="doOperation()" #userForm="ngForm" 
	  class="getname form-inline" style="display: inline-block">
      <div class="input-group input-group-sm">
	<input #inputname [(ngModel)]="institutionName" ngControl required 
	       type="text" class="form-control" width="40" 
	       i18n-placeholder="institution.institution_name">
	<div class="input-group-btn">    
	  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
	    <span class="glyphicon glyphicon-ok"></span>
	  </button>
	  <button (click)="cancelOperation()" type="button" class="btn btn-default">
	    <span class="glyphicon glyphicon-remove"></span>
	  </button>
	</div>
      </div>
    </form>
  </div>
</span>
