ul.topics { margin: 0; }

ul.topics li { display: inline-block; }
ul.topics > li.topic {
  margin-right: 8px;
  border-radius: 12px;
  height: 24px;
  line-height: 24px;
  background-color: #E0E0E0;
  color: #424242;
  font-size: 13px;
  padding: 0 12px 0 8px;
}
ul.topics li.topic .chip { display: inline-block; height: 24px; vertical-align: top; }

ul.topics li .glyphicon {
  height: 24px;
  line-height: 24px;
  display: inline-block;
  color: #888;
  vertical-align: top;
  cursor: pointer;
}

ul.topics li.topic .glyphicon:hover {
  color: #aaa;
}
