<div class="wrapper">
  <nav id="leftbar">
    <accordion [closeOthers]="true">
      <accordion-group *ngFor="#section of mainsections" heading="{{section.mse_name}}">
        <mainsection (ondelete)="onSectionDeleted()" (onchange)="onSectionChange()" [section]="section"></mainsection>
      </accordion-group>
    </accordion>
    <mainsection-add *ngIf="myPorId" [porId]="myPorId" (onadded)="onSectionAdded()"></mainsection-add>
  </nav>
  <main>
    <mainview [porId]="myPorId"></mainview>
  </main>
</div>
