<main>
  <div [ngSwitch]="param.prm_type">
    <template [ngSwitchWhen]="'bool'">
      <div class="checkbox">
        <label>
          <input type="checkbox" [ngModel]="boolValue" (ngModelChange)="boolValueChange($event)">{{i18n.t("portal.config."+param.prm_name+".name")}}
        </label>
      </div>
      <span *ngIf="boolValue != null" class="help-block">{{i18n.t("portal.config." + param.prm_name + (boolValue ? ".true" : ".false"))}}</span>
    </template>

    <template [ngSwitchWhen]="'topic'">
      <div class="form-group">
        <label>{{i18n.t("portal.config."+param.prm_name+".name")}}</label>
        <select class="form-control" [ngModel]="topicValue" (ngModelChange)="topicValueChange($event)">
          <option value="" i18n="portal._no_topic_"></option>
          <option *ngFor="#topic of topics" [value]="topic">{{i18n.t("topics."+topic)}}</option>
        </select>
      </div>
    </template>

    <template ngSwitchDefault>bug: unknown type "{{param.prm_type}}"</template>
  </div>
</main>
