<span *ngIf="!viewedit && !viewmove" (click)="onClick()" class="menuentry" [ngClass]="{selected: selected}">{{menu.mme_name}}</span>
<form *ngIf="viewedit" class="form-inline mainmenurename" (ngSubmit)="doRename()" #userForm="ngForm">
  <div class="input-group input-group-sm">
    <input #inputname type="text" class="form-control mainmenurename" [(ngModel)]="menu.mme_name" ngControl required>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="btn btn-default" (click)="onCancelRename()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</form>

<form *ngIf="viewmove" class="form-inline mainmenumove" (ngSubmit)="doMove()" #userFormMove="ngForm">
  <div class="input-group input-group-sm">
    <select #selectmenu [(ngModel)]="beforePos" ngControl required class="form-control mainmenumove">
      <option *ngFor="#c of movechoices | mmemove:menu" [value]="c.mme_order">{{c.mme_name}}</option>
    </select>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary" [disabled]="!userFormMove.valid"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="btn btn-default" (click)="onCancelMove()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</form>

<span *ngIf="viewcfg">
  <button type="button" class="btn btn-link btn-xs mainmenuview" 
	  (click)="doViewtools(true)" 
	  footertip="portal.tip.configure">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
</span>
<span *ngIf="viewtools">
  <button type="button" class="btn btn-link btn-xs mainmenucancel" 
	  (click)="doViewtools(false)"
	  footertip="portal.tip.cancel">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <span class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default mainmenumove" 
	    (click)="onMove()"
	    footertip="portal.tip.move">
      <span class="glyphicon glyphicon-sort"></span>
    </button>
    <button type="button" class="btn btn-default mainmenurename"
	    (click)="onRename()"
	    footertip="portal.tip.rename">	     
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" class="btn btn-default mainmenudelete"
	    (click)="onDelete()"
	    footertip="portal.tip.delete">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </span>
</span>
